*{
    font-family:'robot',sans-serif;
}
body{
    margin: 0;
}
.texto-encima {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgb(255,255,255);
    font-size: 180px;
}
.principal img{
    width: 100%;
    
}

button{
    cursor: pointer;
    width: 180px;
    height: 50px;
    background:rgb(255, 94, 94);
    border-radius: 50px;
    color: white;
    border-color: rgb(255, 94, 94);

}

.container{
    padding: 90px;
    display: flex; 
    justify-content: center;
    font-size: 20px;
}

.img-2 img{
    padding:0px 0px 0px 50px;
    height: 500px;
   
    
}

.container1{
    
    padding:0px 0px 70px;
    display: flex; 
    justify-content: center;
    font-size: 20px;
}

footer{
    height: 500px;
    width: 100%;
    background-color: #fc5252;
}

p.copyright {
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
}
.parrafo1 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.img-3 img{
    
    padding:0px 150px 0px 50px;
    height: 500px;
}

.footer-container{
    display:inline-flex;
    height: 500px;
    width:00px;
    
}
.footer-container ul{
    list-style: none;
}
.footer-container .PRIMERO{
margin: 100px 0px 0px 0px;
color: white;
margin-left: 400px;
}

.footer-container .SEGUNDO{
    margin: 100px 0px 0px 0px;
    color:white;
    margin-left: 120px;
}
.footer-container .TERCERO {
    margin: 100px 0px 0px 0px;
    color: white;
    margin-left: 120px ;
}
.footer-container .CUARTO {
    margin: 100px 0px 0px 0px;
    color:white;
    margin-left: 120px;
   
}


.PRIMERO li {
    line-height:25px;
}

.PRIMERO UL{
    line-height:50PX;
}
.SEGUNDO li {
    line-height:25px;
}

.SEGUNDO UL{
    line-height:50PX;
}
.TERCERO li {
    line-height:25px;
}

.TERCERO UL{
    line-height:50PX;
}
.CUARTO li {
    line-height:25px;
}

.CUARTO UL{
    line-height:50PX;
}
.texto-encima2 {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(110%, 3550%);
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.container2{
    background-image: url(../images/john-raptis.png);
    height:80vh;
    display:flex;
    justify-content:right;
    
}

.container2 .texto2{
    padding:150px 400px;
    width:380px;
    color: white;
    font-size: 20px;

}

.container2 button{
    margin-top: 28px;
}
.linea {
    border-top: 1px solid rgb(252, 252, 252);
    height: 2px;
    max-width: 1500px;
    padding: 0;
    margin: -170px auto 0 auto;
    
    
}
.correo {
    margin-left: 1550px;
    margin-top: -35px;
    color: white;
}
.copy {
    margin-top: 50px;
    margin-left:200px;
    color: white;
}
.titulo1{
    background: linear-gradient(to right,rgb(235,81,64), rgb(101,2,158), rgb(64,1,101), rgb(64,1,101), rgb(64,1,101));
    color: transparent;
    -webkit-background-clip: text;

} 